html, body {
  width: 100%;
  height: 100%;

  background-color: #222;
}

.content {
  width: 100%;
  height: 100%;
}

/* stage */
.stage {
  width: 100%;
  height: 680px;

  position: relative;
}

/* image */
.img-sec {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;

  position: relative;

  @at-root {
    .img-figure {
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px 40px 80px 40px;

      background-color: #fff;

      box-sizing: border-box;

      position: absolute;

      img {
        width: 100%;
        height: 100%;
      }
    }

    figcaption {
      text-align: center;

      .img-title {
        margin: 20px 0 0 0;
        color: #a7a0a2;
        font-size: 16px;
      }
    }
  }
}

/* controller */
.controller-nav {
  width: 100%;

  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  text-align: center;
}