@font-face {
  font-family: "icons-turn-arrow";
  src: url("../fonts/icons/turn-arrow.eot") format("embedded-opentype"), url("../fonts/icons/turn-arrow.woff") format("woff"), url("../fonts/icons/turn-arrow.ttf") format("truetype"), url("../fonts/icons/turn-arrow.svg") format("svg");
}

html, body {
  width: 100%;
  height: 100%;

  background-color: #222;
}

.content {
  width: 100%;
  height: 100%;
}

/* stage */
.stage {
  width: 100%;
  height: 680px;

  position: relative;
}

/* image */
.img-sec {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;

  position: relative;

  perspective: 1800px;

  @at-root {
    .img-figure {
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px 40px 80px 40px;
      box-sizing: border-box;

      background-color: #fff;
      cursor: pointer;
      position: absolute;

      transform-style: preserve-3d;
      transform-origin: 0 50% 0; //x轴原点
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;

      img {
        width: 100%;
        height: 100%;
      }

      &.is-inverse {
        transform: translate(320px) rotateY(180deg);
      }
    }

    figcaption {
      text-align: center;

      .img-title {
        margin: 20px 0 0 0;
        color: #a7a0a2;
        font-size: 16px;
      }
    }

    .img-back {
      width: 100%;
      height: 100%;
      padding: 40px;
      overflow: auto;
      box-sizing: border-box;

      color: #a7a0a2;
      font-size: 22px;
      line-height: 1.25;
      text-align: left;
      background-color: #fff;

      position: absolute;
      top: 0;
      left: 0;

      transform: rotateY(180deg) translateZ(1px);
      backface-visibility: hidden;
    }
  }
}

/* controller */
.controller-nav {
  width: 100%;

  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  text-align: center;

  @at-root {
    .controller-unit {
      width: 30px;
      height: 30px;
      margin: 0 5px;
      border-radius: 50%;

      background-color: #aaa;
      display: inline-block;
      cursor: pointer;
      vertical-align: middle;

      transform: scale(.5);
      transition: transform .6s ease-in-out, background-color .3s;

      &.is-center {
        background-color: #888;
        transform: scale(1);

        &::after {
          content: "\e600";
          font-family: "icons-turn-arrow";
          color: #fff;
          line-height: 30px;

          //使用灰阶渲染
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &.is-inverse {
          background-color: #555;
          transform: rotateY(180deg);
        }
      }
    }
  }
}